@font-face {
    font-family: 'AdiHaus';
    src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }


*{
    padding: 0;
    margin: 0;
}

body, html{
min-width: 100%;
min-height: 100vh;
}

body{
    display: flex;
}

.mobile-image{
    max-width:500px;
    margin:0 auto;
}

#brand-logo{
    display:block;
    margin:15px auto;
}

#shoe-mobile{
    height:250px;
    width:100%;
    background:center url(images/mobile-shoes.jpg) no-repeat;
    background-size:contain;
}

.all-content{
    font-family: AdiHaus;
    text-align: center;
    padding: 20px 30px;
}

.text-container{
    width: 100%;
    text-align: center;

}

h2{
    margin: 0;
    font-size: 48px;
    letter-spacing: 5px;
}

h2:nth-child(1){
    color: #2F80ED;
    font-weight: 400;
    margin-top: 20px;
}

h2:nth-child(2){
    color: #423A3A;
    margin-top: 5px;
}

p{
    color: #333333;
    line-height: 28px;
    margin: 10 0 40;
    margin-bottom: 50px;
    margin-top:10px ;

}

form{
    display: flex;
}

input[type="text"]{
    height: 60px;
    width: 75%;
    padding: 0 20px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 25%;
    height: 60px;
    box-sizing: border-box;
    color: #fff;
    background:linear-gradient(166deg, rgba(124,124,124,1) 0%, rgba(43,40,40,1) 100%);
    transition: .4s ease all;
    border-radius: 3px;
    margin-left: -10px;
    font-family: a;
    font-size: 35px;
    font-weight: 400;
    padding-right: -40px;
}

input[type="submit"]:hover{
    transition: .4s ease all;
    cursor: pointer;
}

.desktop-image{
    display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

body{
    background:url(images/waves.png);
    background-size: cover;
}

.mobile-image{
    width:50%;

}

#shoe-mobile{
    display:none;
}

#brand-logo{
    display: block;
    margin:60px 30px 100px;
}

.text-container{
    text-align:left;
}

.desktop-image{
    display:block;
    width:45%;
    background:url(images/shoes.png);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-size: cover;
}

h2{
    font-size: 64px;
}

}
